@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-clock, .icon-location, .icon-tag, .icon-map-pin-fill, .icon-forward {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.icon-clock:before {
	content: "\63";
  color:#888;
  font-size:0.75em;
}
.icon-location:before {
  color:#0A497A;
	content: "\6e";
  font-size:0.75em;
}
.icon-tag:before {
	content: "\74";
}
.icon-map-pin-fill:before {
	content: "\6c";
  color:#0A497A;
  font-size:0.85em;
}
.icon-forward:before {
	content: "\73";
}