@import "fonts.scss";

//ClearFix hack
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


*{
  padding:0;
  margin:0;
  text-decoration:none;
}

body{
  width:100%; 
  font-family:'Montserrat', sans-serif;
  font-size:1.0em;
  text-align:center;
  -webkit-font-smoothing:antialiased;
  background: #dddedf; /* Old browsers */
  background: -moz-linear-gradient(left, #dddedf 0%, #dddedf 50%, #f2f2f3 50%, #f2f2f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddedf), color-stop(50%,#dddedf), color-stop(50%,#f2f2f3), color-stop(100%,#f2f2f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #dddedf 0%,#dddedf 50%,#f2f2f3 50%,#f2f2f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddedf 0%,#dddedf 50%,#f2f2f3 50%,#f2f2f3 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #dddedf 0%,#dddedf 50%,#f2f2f3 50%,#f2f2f3 100%); /* IE10+ */
  background: linear-gradient(top, #dddedf 0%,#dddedf 50%,#f2f2f3 50%,#f2f2f3 100%); /* W3C */  
}

.card-container{
  width:100%;
  margin:15px auto;
  background-color:none;
}

.branding{
  text-align:center;
}

.brand{
  width:66.6666%;
}

.title{
  font-size:0.875em;
  font-weight:600;
  letter-spacing:1px;
}


//Store name and location
.location{
  padding:20px 2%;
  width:92%;
  margin:0 auto;
  border:1px solid #ccc;
  border-bottom:none;
  background-color:#FFF;
}

.store-name{
  font-size:1.125em;
  font-weight:400;  
}

.store-location{
  font-size:1.125em;
  font-weight:400;
  color:#888;
}
//img
.hero{
  width:100%;
  height:auto;
}

.item-img{
  padding:0;
  margin:0;
  margin-bottom:-5px;
}

//metadata
.meta-wrapper{
  padding:20px 0;
  width:96%;
  margin:0 auto;
  border:1px solid #ccc;
  border-top:none;
  background-color:#FFF;
}

.time-stamp{
  margin-bottom:25px;
  margin-top:-12px;
  border-bottom:1px solid #ccc;
  padding:0 0 5px 0;
}

.date{
  color:#000;
  font-size:0.975em;
}

//buttons
.ui-wrapper{
  width:90%;
  margin:-22px auto 30px auto;
}

.btn{
  background-color:rgb(14,118,188);
  color:#fff;
  width:100%;
  margin:0 auto 25px auto;
  padding:10px 0;
  text-decoration:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #1469AA;
}

.btn:hover, .button-active{
  background-color:rgb(0,106,166);
}

//Maps
#map-canvas{
  width:100%;
  height:400px;
  display:none;
}

.close-map{
  float:left;
  width:14%;
  height:52px;
  border-left:1px solid #ccc;
}

.close-map:hover{
  cursor:pointer;
}

.maps-directions{
  float:left;
  width:85%;
  text-align:center;
  color:#000;  
  a{
    padding:15px 0;
    display:block;
    width:100%;
    color:#000;
  }
  a:hover{
  }
}

.maps-ui{
  position:absolute;
  right:2%;
  bottom:4%;
  width:94%;
  text-align:center;
  z-index:999;
  background-color:#fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:2px solid #ccc;
}

// Media queries
// Tablet
@media (min-width: 600px) and (max-width: 900px){
  body{
    font-size:1.225em;
  }
  
  .date{
    font-size:0.6em;
  }
  
  .brand{
    width:33%;
  }
  .card-container{
    width:66%;
  }
}


//Desktop
@media (min-width: 901px){
  body{
    font-size:1.275em;
  }
  .brand{
    width:25%;
  }
  .card-container{
    width:70%;
    position:relative;
    text-align:left;
    background-color:#fff;
    margin-top:50px;
    margin-bottom:50px;
    border:1px solid #ccc;
  }
  .location{
    width:46%;
    text-align:left;
    float:right;
    border:none;
  }
  .hero{
    width:50%;
    float:left;
    margin:0;
    padding:0;
  }
  
  #map-canvas{
    width:50%;
    float:left;
  }
  
  .meta-wrapper{
    padding:20px 2%;
    width:46%;
    border:none;
    background-color:#FFF;
    float:right;
  }
  
  .time-stamp{
    width:100%;
    margin:0;
    text-align:left;
  }
  
  .btn{
    position:absolute;
    right:2%;
    bottom:-45px;
    width:46%;
    text-align:center;
  }
  
  //maps desktop
  #map-canvas{
    position:absolute;
    width:50%;
    height:400px;
    display:none;
    right:0;
    top:100px;
  }
}


